@import url('cards/cards.css');
@import url('description/description.css');
@import url('digits/digits.css');
@import url('feynman/feynman.css');
@import url('footer/footer.css');
@import url('header/header.css');
@import url('kaufman/kaufman.css');
@import url('khan/khan.css');
@import url('logo/logo.css');
@import url('oakley/oakley.css');
@import url('page/page.css');
@import url('rotation/rotation.css');
@import url('resources/resources.css');
@import url('section-title/section-title.css');
@import url('section-subtitle/section-subtitle.css');
@import url('techniques/techniques.css');
@import url('table/table.css');
@import url('two-columns/two-columns.css');
@import url('video/video.css');

/*to see the borders of things*/
div {
  border: 2px solid red;
}

section {
  border: 2px solid green;
}

h2 {
  border: 2px solid #F0F;	
}

h3 {
  border: 2px solid #0CC;	
}

p {
  border: 2px solid #F0F;
}


@keyframes rotation {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

*a {
  transition: opacity 5s linear;
}

a:hover {
  opacity: 0.5;
}


.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*HEADER*/

.header {
      
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #F2F2F2;
  overflow: hidden;
}

.header__title {

 width: 730px;
  line-height: 96px; 
  font-size: 102px; 
  font-weight: bold;
  display: flex;
  position: static;
  align-items: center;
  margin-left: 64px;
  z-index: 1;
      
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  height: 31px;
  width: 154px;
  z-index: 1;
  

  
  
}
.header__subtitle{
  
  width: 388px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;

  
}
.header__link {
  color: #2F80ED;
  left: 64px;
  position: static;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  z-index: 1;
}


.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  padding: 0;
  z-index: 1;
}

.header__square-pic {

  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  transform: rotate(-15deg); 
  
 }
 
 .rotation {
   animation: rotation 20s ease infinite;
   
 }
  
/* DESCRIPTION SECTION*/

.description {
  background-color: white;	
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  justify-content: space-between;
  display: flex;
  width: 80%; 
}
.two-columns__paragraph { 
  line-height: 34px;
  margin: 0px 0px 30px 0px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
  
}
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  color: #2f80ED;
  margin: 0;   	 
}	
.two-columns__main-text {
  width: 80%;
  min-width: 784px
}
.two-columns__span-accent {
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

/*TECHNIQUES SECTION*/

.techniques {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  
}

.cards__item {
  text-align: center;
  align-items: flex-start;
  list-style-type: none;
  width: 240px;
  margin: 60px 100px 0 0; 
}



.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
  /*border-radius: 90px;*/
}

.cards__title {
  text-align: center;
  align-self: flex-start;
  line-height: 1.15;
  font-size: 24px;
  margin-top: 43px;
  margin-bottom: 0;
  font-weight: bold;
}

.cards__description {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 0;
  
}

/* VIDEO SECTION */

.video { 
  display: flex;
  flex-direction: column;
  align-items: center;
}


.video__iframes {
  display: flex;
  justify-content: center;
  
}

.video__iframe {
  margin-right: 20px;
  transform: translate(0, 50px);
  width: 515px;
  height: 316px;
}


.video__iframe iframe {
  border: 0px;
}




/* OAKLEY SECTION */
.oakley {
  padding-top: 160px;
  background-color: #F2F2F2;
  
}

.two-colums__brief {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  
}
.two-colums__main-text {
  width: 80%;
  min-width: 784px;
  padding-bottom: 80px;
}
.two-colums__paragraph {
  margin: 30px 0 0;
  line-height: 34px;
  font-size: 24px;
}

/* DIGITS SECTION */

.digits {
  background-color: white;	
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;  
  z-index: 2;
}
.table__cell {
  width: 250px;
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  line-height: 69px;
  font-size: 60px;
  text-align: center;
  width: 60%;
  align-self: center;
  margin-bottom: 10px;

  
}

.section-subtitle {
  font-size: 24px;
  font-style: normal;
  line-height: 34px;
  text-align: center;
  width: 60%;
  align-self: center;
  margin-bottom: 60px;

}

.table__heading {
  
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}  

.second-half
{
  margin-top: 60px;
}

/* KHAN SECTION */
.khan {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 105px;
  background-color: #F2F2F2;
  margin: auto;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
  
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  max-width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  
}

.khan__quote-author {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  
}

.khan__quote-author-subline {
  margin-top: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  
}

.khan__book-container {
  display: flex;
}

.khan__buy-link {
  text-decoration: none;
  color: #2F80ED;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  
}

.khan__buy-link:hover {
  opacity: 0.5;
}

.khan__book-pic {
  margin-right: 20px;
  max-width: 620px;
  height: 608px;
  
}

/* FEYNMAN SECTION */
.feynman {
  padding-top: 100px;
  height: 790px;    
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom left;
  z-index: 0;   
  background-color: #F2F2F2; 
}

.feynman__title {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: auto;
  right: 50%;
  width: 770px;
  z-index: 1;
  font-size: 119px;
}


.feynman__subtitle {
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  z-index: 1;
  font-weight: normal
}

.feynman__link {
  position: absolute;    
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  color: black;
  text-decoration:none;
}

/* KAUFMAN SECTION */
.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  background-color: #1F1F1F;	
  position: relative;
  display: flex;
  flex-direction: column; 
  overflow:hidden; 
}


.kaufman__triangle {

  background-image: url(../images/triangle.svg);
  background-repeat: no-repeat; 
  position: absolute; 
  width: 877px;
  height: 877px;
  z-index: 0;
  top: 20px;
  right: -210px;
  background-size: cover;
  transform: rotate; 
}

.table_theme_dark
{
  margin: auto;
  flex-wrap: wrap;
  z-index: 1;
}


.table__cell_theme_dark {
  margin-right: 0;
  width: 200px;
  color: white; 
}

.section-title_theme_dark {
  font-weight: bold;
  line-height: 69px;
  font-size: 60px;
  word-break: normal;
  text-align: center;
  width: 60%;
  align-self: center;
  margin-bottom: 10px;
  z-index: 1;
}
.section-subtitle_theme_dark {
  font-size: 24px;
  font-style: normal;
  line-height: 34px;
  text-align: center;
  width: 60%;
  align-self: center;
  margin-bottom: 60px;
  z-index: 1;
}


/* RESOURCES SECTION */
.resources {
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  display: flex;
  
  }


.resources__logo-zone {
  max-width: 1100px;
  margin: 80px auto 217px auto;
  
}

.resources__logo {
  width: 270px;
  height: 38px;
}

/* FOOTER SECTION */

.footer {
  color: white;
  background-color: #1F1F1F;	
  padding-right: 0;
  padding-left: 0; 
  min-height: 350px;
  
  }

.footer__columns {
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  margin: 0 auto; 
  min-height: 252px;
  width: 90%;
  justify-content: space-between;
}  

.footer__column{
  text-decoration: none;
  color: #4F4F4F;
}

.footer__column_content_info{
  flex-basis: auto;

}
.footer__column_content_social{
  flex-basis: auto;
  
  
}
.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  position: absolute;
  width: 183px;
  height: 35px;
  
}

.footer__column-links {
  padding: 20px 0px 16px 0px;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  list-style-type: none; 
  color: #4F4F4F;
}

.footer__column-link {
  text-decoration: none;
  color: #4F4F4F;
}


.footer__link {
  font-size: 18px;
  color: #4F4F4F;
  line-height: 30px;

}

.footer__list-item {
  display: block;
}

.footer__column-heading {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 45px; 
}

.footer__author {
  font-size: 18px;
  color: #4F4F4F;
  bottom: -200px;
  line-height: 25px; 
  position: relative;
  padding: 18px;
}

.footer__social-icon {
    margin-right: 10px;
}